RewriteEngine On

# base URL
# change to only / for heroku because Procfile uses public/ as document root
# e.g. Procfile:
# web: vendor/bin/heroku-php-apache2 public/
RewriteBase /framework/public
# test 2

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?$1 [L,QSA]
